html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #eaeaea;
  font-family: 'Poppins', sans-serif;
  color: white;
}

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #464B46;
  align-items: center;
  display: flex;
  justify-content: center;
}

.loader {
  font-size: 3rem;
}

.container {
  width: 900px;
  height: 100%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}

article {
  background-color: #929292;
  height: auto;
  margin-top: 40px;
  font-family: 'Lato', sans-serif;
  transition: .3s;
}

/*
article:hover .head-formatter {
  font-size: 3rem;
}

article:hover .content {
  font-size: 1.34rem;
}

article:hover {
  width: 1000px;
}
*/

article:last-child {
  margin-bottom: 40px;
}

article > .content {
  margin: 0 10px;
  font-size: 1.2rem;
  font-weight: 300;
}

article.about > .content, article.arts > .content{
  margin: 15px 10px;
  text-align: justify;
}

.divider {
  height: 5px;
}

.head-formatter {
  padding: 10px;
  font-size: 2rem;
  font-family: 'Arvo', sans-serif;
}

article header {
  background-color: #3c3c3c;
}

article .divider {
  background-color: #3c3c3c;
}

.socials {
  margin-top: 30px;
}

@media (max-width: 768px) {
  .socials {
    text-align: center;
  }
}

.socials a{
  color: white;
  text-decoration: none;
  position: relative;
}

i.github, i.linkedin, i.codepen, i.deviantart, i.codewars {
  color: #3c3c3c !important;
  margin-top: 2px;
  transition: .3s;
  transition-delay: .5s;
}

i.codewars {
  margin-top: 0px;
  font-weight: bold;
}

i.github.active {
  color: #42c0fb !important;
}

i.linkedin.active {
  color: #0077B5 !important;
}

i.codepen.active {
  color: #195979 !important;
}

i.deviantart.active {
  color: #07a93c !important;
}

i.codewars.active {
  color: #b42e22 !important;
}

img.codewars {
  height: 26px;
  position: absolute;
  top: 6%;
  left: 12.5px;
  filter: grayscale(15);
  transition: .3s;
  transition-delay: .5s
}

img.codewars.active {
  filter: grayscale(0);
}

.my-experience, .my-skills, .my-packages {
  padding: 15px 0;
  border-bottom: 3px dashed #3c3c3c;
}

.my-experience .header, .my-skills .header, .my-packages .header, .my-pens > .header {
  font-family: 'Arvo', sans-serif;
}

.my-pens > .header {
  margin-top: 15px;
}

.my-pens > .desc {
  margin-top: 15px;
}

.my-experience .content, .my-skills .content, .my-packages .content {
  margin-top: 5px;
}

.my-experience:last-child, .my-skills:last-child, .my-packages:last-child {
  border-bottom: none;
}

.my-packages .content {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .my-packages .content {
    flex-direction: column;
  }
}

.desc {
  box-sizing: border-box;
  width: calc(100% - 160px);
  display: inline-block;
}

.links {
  box-sizing: border-box;
  display: inline-block;
  width: 160px;
  text-align: right;
  position: relative;
}

.demo {
  display: inline-block;
  text-decoration: none;
}

.demo > div {
  background-color: #5a5a5a;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  padding: 5px;
  font-weight: 500;
  width: 55px;
  text-align: center;
  border-bottom: 3px solid #c5c5c5;
}

.demo:hover > div {
  background-color: #3c3c3c;
}

.my-pens {
  border-bottom: 3px dashed #3c3c3c;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.my-pens:last-child {
  border-bottom: none;
}

.my-pens > .content {
  margin-top: 10px;
  height: 400px;
}

.cp_embed_wrapper {
  height: 100%;
  filter: grayscale(15);
  transition: .3s;
  transition-delay: .5s;
}

.cp_embed_wrapper.active {
  filter: grayscale(0);
}

.arts .content {
  text-align: center;
}

div#lightgallery {
  -webkit-column-count: 4;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 4;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 4;
  column-gap: 10px;
  column-fill: auto;
}

.pic-link {
  display: inline-block;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin-bottom: 10px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;
  
}

.pic-thumb {
  width: 100%;
  filter: grayscale(15);
  transition: .3s;
  transition-delay: .5s;
}

.pic-thumb.active {
  filter: grayscale(0);
}

@media (max-width: 900px){

  .container {
    width: 100%;
  }
  article {
    margin-top: 0;
  }
  article:last-child {
    margin-bottom: 0;
  }
  article .divider {
    background-color: transparent;
  }
  .head-formatter {
    font-size: 1.8rem;
  }
  article .content {
    font-size: 1rem;
  }
  .desc {
    width: 100%;
  }
  .links {
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
  img.codewars {
    height: 25px;
    top: -3px;
    left: 9px;
  }
  i.github {
    margin-top: 1px;
  }
  i.linkedin {
    margin-top: 1px;
  }
  i.codepen {
    margin-top: 1px;
  }
  i.deviantart {
    margin-top: 1px;
  }
}

small {
  font-size: .9rem;
}

div#particles-js {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
}

/*HANDLE OTHER DIMENSIONS*/

@media (max-width: 615px){

  div#lightgallery {
    -webkit-column-count: 3;
  	-moz-column-count: 3;
  	column-count: 3;
  }

}

@media (max-width: 470px){

  div#lightgallery {
    -webkit-column-count: 2;
  	-moz-column-count: 2;
  	column-count: 2;
  }

}
