.Screen {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 42px);
  position: relative;

  .mr-16 {
    margin-right: 16px !important;
  }

  .vscode {
    height: 700px;
    width: 1200px;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    position: relative;

    @media (max-width: 1200px) {
      width: 100%;
      height: 100%;
    }
    @media (max-height: 742px) {
      width: 100%;
      height: 100%;
    }
  }
}
