.Contents {
  height: calc(100% - (32px + 24px));
  position: relative;
  display: flex;
  cursor: default;

  .leftmost {
    height: 100%;
    width: 55px;
    position: relative;
    background-color: #3c3c3c;
    display: flex;
    flex-direction: column;
    color: #7f8585;
    flex-shrink: 0;

    & > div {
      box-sizing: border-box;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &.toggle.open {
        border-left: 2px solid white;
        padding-right: 2px;
        color: white;
      }

      &:hover {
        color: white;
      }

      .changes {
        background: #007acc;
        height: 20px;
        width: 20px;
        border-radius: 50px;
        position: absolute;
        bottom: 8px;
        right: 6px;
        color: white;
        font-size: 11px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .buttons {
      display: block;

      @media (max-height: 390px) {
        &.btn4 {
          display: none;
        }
      }

      @media (max-height: 320px) {
        &.btn3 {
          display: none;
        }
      }
    }
  }

  .files {
    height: 100%;
    width: 290px;
    position: relative;
    font-size: 12px;
    background-color: #252526;
    color: #cccccc;

    .explorer {
      color: #b1b1b1;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      height: 40px;
      justify-content: space-between;
      padding: 0px 22px;
    }

    .repo {
      font-weight: bold;
      color: #cccccc;
      display: flex;
      position: relative;
      padding: 5px 22px;

      .arrow-down {
        position: absolute;
        left: 2px;
      }
    }

    .file {
      padding: 5px 22px;
      display: flex;
      align-items: center;

      &.active {
        background-color: #3c3c3c;
      }

      &:hover {
        background-color: #313132;
      }
    }
  }

  .content {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #1e1e1e;

    .file-tabs {
      height: 30px;
      box-sizing: border-box;
      background-color: #252526;
      display: flex;
      font-size: 12px;
      color: #cccccc;

      .file {
        padding: 5px 22px;
        display: flex;
        align-items: center;

        &.active {
          background-color: #1e1e1e;
          color: #cccccc;
        }

        &:hover {
          background-color: #313132;
        }
      }
    }

    .file-output {
      height: calc(100% - 30px);
      box-sizing: border-box;
      overflow: auto;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 1050px) {
        width: 100%;
        align-items: baseline;
      }
    }

    // Intro page
    .about {
      display: flex;
      height: 500px;
      width: 700px;
      flex-direction: row;
      padding: 0px 20px;
      box-sizing: border-box;

      @media (max-width: 1050px) {
        flex-direction: column;
      }

      @media (max-width: 1050px) {
        width: 100%;
      }

      & > div {
        width: 50%;

        @media (max-width: 1280px) {
          width: 100%;
        }
      }

      // Copies
      h1 {
        font-size: 30px;
        color: #cccccc;
        margin: 0px;
        margin-top: 20px;
        margin-bottom: 2px;
      }
      h2 {
        font-size: 18px;
        color: #cccccc;
        margin: 0px;
        margin-top: 20px;
        margin-bottom: 5px;
      }
      .title {
        font-size: 20px;
        color: #989898;
        font-weight: bold;
      }
      .about-text {
        color: #cccccc;
        font-size: 16px;
        line-height: 22px;
      }
      .work {
        margin-bottom: 8px;

        > div {
          color: #989898;
          font-size: 14px;
        }

        > span {
          color: #2885ff;
          display: inline-block;
          margin-right: 8px;
        }
      }

      .info {
        text-align: left;
        order: 1;

        @media (max-width: 1050px) {
          order: 2;
        }
      }

      .pic {
        order: 2;

        img {
          margin-top: 20px;
          height: 150px;
          width: 150px;
        }

        @media (max-width: 1050px) {
          order: 1;
          text-align: left;
        }
      }
    }
  }
}
