.Contents {
  flex-grow: 1;
  display: flex;
  cursor: default;

  .leftmost {
    width: 55px;
    background-color: #3c3c3c;
    display: flex;
    flex-direction: column;
    color: #7f8585;

    & > div {
      box-sizing: border-box;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &.toggle.open {
        border-left: 2px solid white;
        padding-right: 2px;
        color: white;
      }

      &:hover {
        color: white;
      }

      .changes {
        background: #007acc;
        height: 20px;
        width: 20px;
        border-radius: 50px;
        position: absolute;
        bottom: 8px;
        right: 6px;
        color: white;
        font-size: 11px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .files {
    font-size: 12px;
    width: 290px;
    background-color: #252526;
    color: #cccccc;

    .explorer {
      color: #b1b1b1;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      height: 40px;
      justify-content: space-between;
      padding: 0px 22px;
    }

    .repo {
      font-weight: bold;
      color: white;
      display: flex;
      position: relative;
      padding: 5px 22px;

      .arrow-down {
        position: absolute;
        left: 2px;
      }
    }

    .file {
      padding: 5px 22px;
      display: flex;
      align-items: center;

      &.active {
        background-color: #3c3c3c;
      }

      &:hover {
        background-color: #313132;
      }
    }
  }

  .content {
    flex-grow: 1;
    background-color: #1e1e1e;
  }
}
